
/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --moneyBox: #D95D39;
}
/*Spilleren*/

#character {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;

    transition: left 0.2s linear, top 0.2s linear;
    z-index: 2;
}

#character img {
    height: 60px;
    width: 60px;
}

/*Øya og havet*/

#space {
    display: grid;
    grid-template-rows: 5000px;
    grid-template-rows: 5000px;
    gap: 40px;

}

#blank {
    grid-column: 2;
    height: 5000px;
    width: 300px;
    margin-right: 500px;
}


body {
    background-color: rgb(0, 255, 255);
}



#øy {
    grid-column: 1;
    background-color: rgb(143, 183, 63);
    height: 5000px;
    width: 5000px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 500px;
}

.tree{
    position: absolute;
}

.tree img {
    position: absolute;
    width: 70px;
    height: auto; 
}

.strand {
    background: linear-gradient(to bottom, #e0cd62 35%, rgb(0, 255, 255) 65%);
    /* strand gradient */
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*Menyknapp*/
#menyknapp {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

#flexBoxContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index: 5;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}


.flexBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 500px;
    background-color: wheat;
}

.menyoverskrift {
    background-color: brown;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 40px;

}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
}

.wrapper1,
.wrapper2 {
    display: flex;
    flex-direction: column;

}

.settings,
.upgrades,
.skins,
.HowToPlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    padding: 20px;
    font-size: 30px;
    margin: 20px;
    background-color: brown;
    cursor: pointer;
}




/*Alt materiale som spilleren skal interaktere med*/
.InteractiveMaterial {
    padding: 50px;
    display: inline-block;
    position: absolute;
    cursor: pointer;

}

.npc {
    padding: 30px;
}

.NPC img, .npc img {
    width: 60px;
    height: 60px;
}

#enemy0 {
    left: 500px;
    top: 200px;
}

#enemy1 {
    left: 200px;
    top: 30px;
}


/*Chests*/

.Chest {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FFD700;
}

.Chest img {
    height: 50px;
}

#Chest1 {
    left: 300px;
    top: 400px;
}

#Chest2 {
    left: 700px;
    top: 40px;
}

/*Popup Oliver*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    z-index: 10000;
}

.chest-popup, .enemy-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    z-index: 10000;
    text-align: center;
}

.chest-popup button, .enemy-popup button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/*Money*/
.moneyContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 215, 0, 0.7);
    padding: 10px;
    border: 3px solid #88540B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    z-index: 3;
}

.moneyBox {
    margin-right: 7px;
}

.moneyBox span {
    font-size: 20px;
    color: var(--moneyBox);
    margin-right: 3px;
}

#freeMoneyButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px;
    background-color: goldenrod;
    color: #fff;
    cursor: pointer;
}


#money-amount {
    color: goldenrod;
    font-size: 20px;
}

.sections {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: wheat;
    z-index: 9997;
}

/*Skins*/
#skins {
    display: none;
}

.select {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    z-index: 10;
    display: none;

}

.nav {
    background-color: brown;
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 15px;
    padding: 10px;
    position: fixed;
    top: 0;
}

.Mbuttons {
    width: 190px;
    height: 120px;
    top: 50%;
    background-color: brown;
    font-size: 35px;
    cursor: pointer;
}

.Mbuttons span {
    font-size: 15px;
    margin: 0;
}

/*Stats*/
#stats {
    display: none;
}
.Sbuttons{
    width: 200px;
    height: 80px;
    top: 50%;
    background-color: brown;
    font-size: 35px;
    cursor: pointer;
}


.nav {
    background-color: brown;
    border: 2px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 15px;
    padding: 10px;
    position: fixed;
    top: 0;
}
#statsButtons{
    display: flex;
    flex-direction: column;
}
.LevelIndicater{
    background-color: white;
    border: 2px solid black;
}
/* speed */
#speed{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
}
#speedLevel{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    width: 450px;
    height: 80px;
}
#speed1{   
    grid-column: 1/2;
}
#speed2{   
    grid-column: 2/3;
}
#speed3{
    grid-column: 3/4;
}
/* HealthLevel */
#health{
    display: flex;
    flex-direction: row;
}
#healthLevel{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    width: 450px;
    height: 80px;
}
#health1{
    grid-column: 1/2;
}
#health2{
    grid-column: 2/3;
}
#health3{
    grid-column: 3/4;
}
#health4{
    grid-column: 4/5;
}
#health5{
    grid-column: 5/6;
}
#liv0{
    background-color: brown;
}
/* Damage */
#damage{
    display: flex;
    flex-direction: row;
}
#damageLevel{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 2px;
    width: 450px;
    height: 80px;
}
#damage1{   
    grid-column: 1/2;
}
#damage2{   
    grid-column: 2/3;
}
#damage3{
    grid-column: 3/4;
}
#damage4{
    grid-column: 4/5;
}
#damageer0{
    background-color: brown;
}
/* NPC */
.NPC {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #FF4500; 
    border: 2px solid #A52A2A; 
    border-radius: 5px;
    cursor: pointer;
    top: 200px; 
    right: 600px; 
  }

.dialog-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 10px;
    border: 2px solid #333;
    z-index: 10000;
  }


.spinning-wheel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1000;
}

.wheel-section {
    position: absolute;
    width: 100%;
    height: 100%;
}

#wheelSection1 {
    background-color: #FF6347;
    clip-path: polygon(-33% 100%, 50% 50%, 100% 100%);
}

#wheelSection2 {
    background-color: #90EE90;
    clip-path: polygon(50% 50%, 0% 80%, 0% 20%);
}

#wheelSection3 {
    background-color: #87CEFA;
    clip-path: polygon(50% 50%, 0% 20%, 0% 0%);
}

#wheelSection4 {
    background-color: #FFD700;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.arrow-down {
    position: fixed;
    top: 16%; /* Adjust the distance from the top */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Adjust the size of the arrow */
    border-right: 20px solid transparent; /* Adjust the size of the arrow */
    border-top: 30px solid #000; /* Adjust the color of the arrow */
    z-index: 1001; /* Make sure the arrow is above the spinning wheel */
}

/*Alert*/
  .alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.error {
    background-color: #f44336; 
}

.success {
    background-color: #4CAF50;
}

a {
    text-decoration: none;
}