/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#character {
    width: 200px;
    height: 300px;
    background-color: blue;
    left: 100px;
    top: 100px;
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
}

#øy {
    background-color: yellowgreen;
    height: 75vh;
    width: 75%;
}

body {
    background-color: aqua;
}