/* Minimal reset: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#character {
    width: 40px;
    height: 40px;
    background-color: blue;
    position: fixed;
}

#øy {
    background-color: yellowgreen;
    height: 75vh;
    width: 75%;


}

body {
    background-color: aqua;
}

#menyknapp {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

#flexBoxContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    z-index: 9998;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}

.flexBox {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: white;
}
