@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



#quiz_1 {
    background-image: url("../Bilder/quiz_bakrunn.png");
    display: flex;
    justify-content: space-between;
}

.quiz_overskrifter {
    font-family: "Press Start 2P", system-ui;
    color:#a96a0b;
    width: 5px;
    font-size: 20px;
    margin-left: 160px;
    line-height: 45px;
    text-shadow: 3px 3px 3px black;
}

#bakrundsfarge_og_slikt {
    background-color: #957d38;
    margin: -8px;
    padding: 20px;
    color: white;
}

#bakrundsfarge_og_slikt h3 {
    font-size: 25px;

}

#quiz_2 {
    background-image: url("../Bilder/quiz_bakrunn_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -50px;
    display: flex;
    justify-content: space-between;
}

.quiz_overskrifter_2 {
    font-family: "Press Start 2P", system-ui;
    color:#dd6700;
    font-size: 20px;
    margin: 20px 40px;
    line-height: 45px;
    text-shadow: -3px -2px 3px black;
}

#rettellergalt_quiz {
    background-color: #bf4110;
    border: #982e04 4px solid;
    margin: -8px;
    padding: 20px;
    color: white;
}

#rettellergalt_quiz div {
    margin: 40px 0;
}

#rettellergalt_quiz input {
    margin-left: 20px;
}

